venv
__pycache__
.DS_Store
api/*.env

sentavis/node_modules
sentavis/dist


# Log files
sentavis/npm-debug.log*
sentavis/yarn-debug.log*
sentavis/yarn-error.log*
sentavis/pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
